<div class="form-group w-75 mx-auto">
    <div class="form-group-item mt-3">
        <label for="row" class="font-weigth-bold">adja meg a sorok számát:</label><input class="form-control" id="row" type="text" placeholder="sorok száma">
    </div>
    <div class="form-group-item mt-3">
        <label for="col" class="font-weigth-bold">adja meg az oszlopok számát:</label><input class="form-control" id="col" type="text" placeholder="oszlopok száma">
    </div>
    <div class="form-group-item mt-3">
        <label for="path" class="font-weigth-bold">adja meg a tervrajzot binális számrendszerben</label>
        <textarea id="path" placeholder="alaprajz" class="form-control"></textarea>
    </div>
    <div class="d-inline-block mt-4 w-100">
        <button class="btn btn-primary" (click)="reset()">megold</button>
        <a target="_blank" href="https://isze.hu/wp-content/uploads/2017/01/Feladat_region%C3%A1lis_18-19_9-10.pdf" class="ml-3 btn btn-secondary">több</a>
        <a href="../../../assets/txt/alaprajz.zip" download="példák.zip" class="btn btn-light float-right">példák letöltése</a>
    </div>
    
</div>
<div id="canvas" class="my-4 text-center"></div>