<div class="text-center mt-3">
  <img style="width: 60%;" class="rounded h-auto" src="../../assets/img/KTMG.JPG" alt="">
</div>
<div class="mt-3">
  <table class="mx-auto w-75 table table-light">
    <tbody>
      <tr>
        <th>
            <p class="mb-1 lead">Az oldal készítője:</p>
        </th>
        <th>
            <p class="mb-1 lead">Osztopáni Kristóf</p> 
        </th>
      </tr>
      <tr>
        <td>
          <p class="mb-1 medium">Iskola:</p>
        </td>
        <td>
            <p class="mb-1 medium">Kaposvári Táncsics Mihály Gimnázium</p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="mb-1 medium">Évfolyam, osztály:</p>
        </td>
        <td>
            <p class="mb-1 medium">10/D</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="w-75 mx-auto">
  <p class="mb-1">Ez egy weboldal ahol az általam eddig elkészített projektek találhatók meg, valamint az hogy ezen projektek elkészítése során mi mindent tanultam.</p>
  <span class="left small strong">~(2018.december)</span>
</div>
