<div class="container mt-3">
    <div class="form-group">
        <label for="sort">rendezés szempontja</label>
        <select (change)="sortOptions($event.target.value)" class="form-control" id="sort">
            <option selected disabled hidden>...</option>
            <option *ngFor="let option of options">{{option.name}}</option>
        </select>
     </div>
    <div *ngFor="let project of projects; let j = index" class="row mt-4">
        <div class="col-4">
            <img style="border: solid blue 3px; border-radius: 1em;" src={{project.thumbnail}} class="mh-100 mw-100 w-100 cover-fill" alt="kép">
        </div>
        <div class="col-8">
            <div class="container">
                <h3 id={{project.title}}_id>#{{j+1}}  {{project.title}}</h3>
                <h5>{{project.type}}</h5>
                <p class="text-justify">{{project.disc}}</p>
                <a *ngIf="project.link" class="btn btn-success" [routerLink]=project.link>Megtekintés &raquo;</a>
                <a *ngIf="project.dwn" class="btn btn-success" href={{project.dwn}} download>Letöltés</a>
            </div>
        </div>
    </div>
</div>
