<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Home <fa-icon [icon]="faHome"></fa-icon></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">About <fa-icon [icon]="faAddressBook"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['projects']">Projects <fa-icon [icon]="faProjectDiagram"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['fundamentals']">Fundamentals <fa-icon [icon]="faFileCode"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['languages']">Languages <fa-icon [icon]="faGlobe"></fa-icon></a>
      </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer style="background: black;" class="w-100 h-100">
<ul class="list-group mt-4 mr-3" style="background: none !important;">
  <li class="list-group-item" style="border: none !important; background: none !important;">Készítette: Osztopáni Kristóf</li>
  <li class="list-group-item" style="border: none !important; background: none !important;">Kód: <a target="_blank" href="https://bitbucket.org/Kristofy/felevi/src/master/">BitBucket</a></li>
  <li class="list-group-item" style="border: none !important; background: none !important;">Félévi projekt (2018-2019 tanév)</li>
</ul>
</footer>