<div class="container mt-3">
  <div *ngFor="let language of languages">
    <div class="row">
      <div class="col-sm-8">
        <div style="border-width: 3px !important" class="p-0 border border-primary rounded">
          <div class="bg-secondary text-light m-0 "><h2 class="pl-4 d-inline">{{language.name}}</h2>
            <span *ngIf="!!language.other" class="d-inline float-right pt-4 pr-3" style="color: white"> <strong>{{language.other}}</strong></span></div>
          <div class="pl-4 py-3 pr-2 pb-2">
            <p><strong style="color: lightgray">Előnyei:</strong> {{language.pros}}</p>
            <p><strong style="color: lightgray">Hátrányai:</strong> {{language.cons}}</p>
            <a href={{language.more}} target="_blank" class="btn btn-secondary">további információ &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <img style="background-size: cover !important" class="rounded-circle cover-fill w-75 mh-100" src={{language.src}} alt="kép">
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>