<div class="text-center" style="transform:translateX(50%);">
	<div id="parent" style="transform:translateX(-50%);"></div>
</div>
<input class="form-control w-75 mx-auto" placeholder="ide irj" />
<p class="text-center">a pontjaid száma: <strong><span>0</span></strong>. Legnagyobb pontszam: <strong><span id="highscore">0</span></strong>.</p>
<div class="text-center mt-3 mb-3 mx-auto">
		<button class="btn btn-primary" type="button" (click)="pause()">Pause</button>
		<p class="d-inline mx-3">Írd be a megjelenő szavakat majd nyomd le a space billentyűt</p>
		<button class="btn btn-secondary" type="button" (click)="reset()">Reset</button>
</div>
<footer class="mt-5 float-right mr-3">
	<strong>Készítette: </strong>Osztopáni Kristóf (2018/11/24)
</footer>