<div class="container mt-4">
  <h3>Az oldal felépítése:</h3>
  <div class="mt-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark"><a target="_blank" href="https://angular.io/">Angular keretrendszer</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://www.typescriptlang.org/">Typescript</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://www.w3schools.com/css/">CSS</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://www.w3schools.com/html/">HTML</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://p5js.org/">P5js</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://code.visualstudio.com/">Visual Studio Code</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://www.npmjs.com/">Node Package Manager</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://git-scm.com/">Git</a></li>
      <li class="list-group-item"><a class="text-white" target="_blank" href="https://bitbucket.org/">BitBucket</a></li>

    </ul>
  </div>
</div>