<div class="mt-3 form-inline text-center" >
  <div class="mx-auto"> x<sub>1</sub> = <span>{{x1}}</span></div>
  <div class="mx-auto"> x<sub>2</sub> = <span>{{x1}}</span></div>
  <div class="mx-auto"> D = <span id="D">{{D}}</span></div>
</div>
<div>
  <div class="text-center my-3">message: <span id="message">{{message}}</span></div>
</div>
<div class="container">
    <div class="mt-3 form-inline">
        <div class="mx-auto w-25 d-inline-block">
            <input id="a" type="number" [(ngModel)]="a" class="form-control w-50  d-inline-block" placeholder="a...">
            <label class="d-inline-block pl-2" for="a">x<sup>2</sup></label>
        </div>

        <div class="mx-auto w-25 d-inline-block">
            <input id="b" type="number" [(ngModel)]="b" class="form-control w-50  d-inline-block" placeholder="b...">
            <label class="d-inline-block pl-2" for="b">x</label>
        </div>

        <div class="mx-auto w-25 d-inline-block">
            <input id="c" type="number" [(ngModel)]="c" class="form-control w-50  d-inline-block" placeholder="c...">
        </div>
    </div>
    <div class="w-100 text-center mt-3">
        <button (click)="solve()" class="btn btn-success">Old meg!</button>
    </div>
</div>