<main role="main">
  <div class="container marketing mt-4">

    <div class="container mb-4">
      <div class="text-center large">
        <h1>Webfejlesztés</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src='../../assets/img/cssLogo.png'alt="Generic placeholder image" width="140" height="140">
        <h2>CSS</h2>
        <p><strong>C</strong>ascading <strong>S</strong>tyle <strong>S</strong>heets, a weboldal megjelenését nagyban módosítja. Alternatívája a <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>, de használhatók egyszerre is.</p>
        <p><a class="btn btn-secondary" href="https://www.w3schools.com/w3css/" role="button">További információk &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src='../../assets/img/htmlLogo.png' alt="Generic placeholder image" width="140" height="140">
        <h2>HTML</h2>
        <p><strong>H</strong>ypertext <strong>M</strong>arkup <strong>L</strong>anguage, egy egyszerű programnyelv a weboldalak 'vázának' leprogramohásához.</p>
        <p><a class="btn btn-secondary" href="https://www.w3schools.com/html/default.asp" role="button">További információk &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src='../../assets/img/jsLogo.png' alt="Generic placeholder image" width="140" height="140">
        <h2>Javascript</h2>
        <p>Egy rugalmas programozási nyelv melyben a DOM (<strong>D</strong>ocument <strong>O</strong>bject <strong>M</strong>odel) segítségével változtathatjuk a weboldal tartalmát.</p>
        <p><a class="btn btn-secondary" href="https://www.w3schools.com/js/default.asp" role="button">További információk &raquo;</a></p>
      </div>
    </div>

  </div>
</main>
